.container {
    max-width: 600px;
}

.head {
    font-family: roboto;
    line-height: 4rem;
    font-family: 'Montserrat', sans-serif;
    

}

.btn {
    /* margin-top: 2rem; */
    margin-bottom: 2rem;
    margin-top: 2rem;
    width: 100%;
    background-color: rgb(37, 155, 223);
}

.inputs {
    position: relative;
}


.li {
    list-style-type: none;
}

.feedback {
    font-style: italic;
    font-size: .8rem;
    color: red;
}

.is-valid {
    /* border: 1px solid; */
    outline: 1px solid green;
}



.invalid {
    border: 1px solid red;
}

.fa-times,
.fa-check {
    position: absolute;
    right: 1rem;
    top: 2.7rem;
    font-size: 1.1rem;
    display: none;
}



#emailOutput {
    font-size: .7rem;
}