.container {
    max-width: 600px;
}

.head {
    font-family: roboto;
    line-height: 4rem;
    font-family: 'Montserrat', sans-serif;
    

}

.btn {
    /* margin-top: 2rem; */
    margin-bottom: 2rem;
    margin-top: 2rem;
    width: 100%;
    background-color: rgb(37, 155, 223);
}
.change {
    width: 20%;
    margin-bottom: 0rem;
    background-color: rgb(216, 155, 41);
}
.save {
    /* background-color: green; */
    width: 20%;
    margin-bottom: 0rem;
}

.inputs {
    position: relative;
}


.li {
    list-style-type: none;
}

.feedback {
    font-style: italic;
    font-size: .8rem;
    color: red;
}

.is-valid {
    /* border: 1px solid; */
    outline: 1px solid green;
}



.invalid {
    border: 1px solid red;
}

.fa-times,
.fa-check {
    position: absolute;
    right: 1rem;
    top: 2.7rem;
    font-size: 1.1rem;
    display: none;
}

.textOutput {
    font-size: 1.2rem;
    list-style-type: none;
}
.emailOutput {
    font-size: .8rem;
    list-style-type: none;
}


/* List element */

.lista {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.205);
    border-radius: .5rem;
    background-color: white;
    padding: .8rem;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
}
.buttons {
    display: flex;
    justify-content: space-between;
}