.head {
    font-family: roboto;
    line-height: 4rem;
    font-family: 'Montserrat', sans-serif;
    

}

.regForm {
    /* margin-top: 4rem; */
}

.li {
    list-style-type: none;
}

.feedback {
    font-style: italic;
    font-size: .8rem;
    color: red;
}

.btn {
    /* margin-top: 2rem; */
    margin-bottom: 2rem;
}



.invalid {
    border: 1px solid red;
}



#emailOutput {
    font-size: .7rem;
}